@import 'tailwindcss';

@layer base {
    *, *::before, *::after {
        scroll-behavior: smooth;
    }

    html {
        position: relative;
        background-color: #000;
        color: theme(colors.white);
    }

    html::before {
        content: "";
        position: fixed;
        inset: 0;
        z-index: -1;
        background-image: url(./img/bg.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        filter: blur(10px);
    }

    a {
        color: theme(colors.blue.500);
        text-decoration: none;
        transition: all 0.2s ease-in-out;
    }

    a:hover {
        color: theme(colors.blue.300);
        text-decoration: underline;
    }
}
