---
import { Laptop, Cpu, MemoryStick, Gpu, HardDrive } from '@lucide/astro';

const specs = [
  {
    name: 'OS',
    Icon: Laptop,
    value: 'Arch Linux with Hyprland',
  },
  {
    name: 'CPU',
    Icon: Cpu,
    value: 'AMD Ryzen 7 2700 Eight-Core Processor @ 3.20 GHz',
  },
  {
    name: 'RAM',
    Icon: MemoryStick,
    value: '32 GB',
  },
  {
    name: 'GPU',
    Icon: Gpu,
    value: 'NVIDIA GeForce RTX 3060 Ti',
  },
  {
    name: 'Storage',
    Icon: HardDrive,
    value: 'PNY CS900 960GB<br/>Samsung SSD 870 QVO 1TB<br/>Predator SSD GM7000 1TB',
  },
];
---
<div class="container px-4 py-8 pt-28 max-w-7xl mx-auto grid gap-8" id="setup">
  <div class="shadow-md rounded-lg p-6 relative">
    <img
      src="https://raw.githubusercontent.com/CuteTenshii/dotfiles/refs/heads/master/desktop.png" draggable="false"
      alt="Desktop Setup" width={800} height={450}
      class="absolute inset-0 rounded-lg mb-4 size-full object-cover z-0 opacity-50 object-top blur-[1px]"
    />

    <div class="z-10 relative text-center">
      <h3 class="text-2xl font-semibold mb-4">PC Specs</h3>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5">
        {specs.map(({ name, Icon, value }) => (
          <div class="flex py-4 px-2 flex-col justify-center items-center text-center">
            <Icon size={32} />
            <span class="pt-4 font-bold pb-1">{name}</span>
            <span><Fragment set:html={value} /></span>
          </div>
        ))}
      </div>
    </div>
  </div>

  <div class="bg-gray-800 shadow-md rounded-lg p-6">
    <h3 class="text-2xl font-semibold mb-4">Software Stack</h3>
    <p class="mb-4">My development environment includes the following software:</p>
    <ul class="list-disc list-inside">
      <li><span class="font-bold">Code Editor:</span> depends on the project, but primarily WebStorm and GoLand</li>
      <li><span class="font-bold">Terminal:</span> kitty</li>
      <li><span class="font-bold">Shell:</span> Zsh with Oh My Zsh</li>
      <li><span class="font-bold">VCS:</span> Git + GitHub</li>
      <li><span class="font-bold">Web Browsing:</span> Firefox Nightly</li>
      <li><span class="font-bold">JS Runtime:</span> Bun <span class="text-xs text-gray-400">(faster and more efficient than Node.js)</span></li>
      <li><span class="font-bold">Database:</span> PostgreSQL <span class="text-xs text-gray-400">(SQLite when I don't want to bother with DB setup)</span></li>
      <li><span class="font-bold">API Testing:</span> Insomnia</li>
      <li><span class="font-bold">Communication:</span> Discord <span class="text-xs text-gray-400">(this is where I'm most active)</span></li>
      <li><span class="font-bold">Music Streaming:</span> YouTube Music</li>
      <li><span class="font-bold">Password Management:</span> Bitwarden (self-hosted)</li>
      <li><span class="font-bold">Virtualization:</span> VMware Workstation Pro</li>
    </ul>
  </div>
</div>
